#sidebar{
   position: fixed;
   top: 0;
   bottom: 0;
   width: 200px;

   background-color: #444;
   color: white;
}

#sidebar h3{
   margin-left: 20px;
   margin-top: 40px;
}

#sidebar ul{
   margin: 0;
   padding: 0;
   margin-top: 25px;
}

.experiment-step{
   list-style: none;
   padding: 6px 20px;
   cursor: default;

   color: lightgreen;
}

.experiment-step.active{
   background-color: #43BCB0 ;  /* #39CC39 */
   color: white;
}

.experiment-step.locked{
   color: #BDBDBD;
}

#content{
   margin-left: 200px;
   padding-left: 40px;
}

#content small{
   color: #999;
}

.page-title{
   margin-top: 40px;
   margin-bottom: 25px;
}